<section class="relative pb-32 overflow-hidden | section background-stripe" data-color="bg-blue" id="about">
	<div class="container">
		<div class="row">
			<div class="col w-full mb-32">
				<h2 class="alpha stroke-blue relative z-20">
					About me
				</h2>
			</div>
		</div>
		<div class="row">
			<div class="col w-full md:w-10/12 xl:w-8/12 xl:ml-1/12 z-20">
				<div class="bg-blue border-solid border-white border-4 rounded-lg p-16 rounded-xl shadow-2xl">
					<div class="mb-16">
						<h3 class="charlie mb-6">
							Who am I?
						</h3>
						<p class="paragraph">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum ipsa iure quia ex molestiae, ea voluptates dolores nostrum exercitationem eum! Est non, molestias necessitatibus nobis magnam vero! Asperiores, sequi quis!</p>
					</div>
					<div class="mb-16">
						<h3 class="charlie mb-6">
							Who am I?
						</h3>
						<p class="paragraph">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum ipsa iure quia ex molestiae, ea voluptates dolores nostrum exercitationem eum! Est non, molestias necessitatibus nobis magnam vero! Asperiores, sequi quis!</p>
					</div>
					<div class="mb-16">
						<h3 class="charlie mb-6">
							Who am I?
						</h3>
						<p class="paragraph">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum ipsa iure quia ex molestiae, ea voluptates dolores nostrum exercitationem eum! Est non, molestias necessitatibus nobis magnam vero! Asperiores, sequi quis!</p>
					</div>
					<div class="">
						<h3 class="charlie mb-6">
							Who am I?
						</h3>
						<p class="paragraph">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum ipsa iure quia ex molestiae, ea voluptates dolores nostrum exercitationem eum! Est non, molestias necessitatibus nobis magnam vero! Asperiores, sequi quis!</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
