<header class="global-header">
	<div class="container">
		<div class="row">
			<div class="col w-full xl:w-10/12 xl:ml-1/12 flex justify-between items-center w-full pt-6">
				<div>
					<h1 class="charlie header-logo">
						<a href="#">Olly Robinson</a>
					</h1>
				</div>
				<nav>
					<ul class="flex">
						<li class="py-8 px-8 font-bold">
							<a href="#" class="button button--invert">Projects</a>
						</li>
						<li class="py-8 px-8 font-bold">
							<a href="#" class="button button--invert">About</a>
						</li>
						<li class="py-8 px-8 font-bold">
							<a href="#" class="button button--invert">View my CV</a>
						</li>
						<li class="py-8 pl-8 font-bold">
							<a href="#" class="button button--invert">Send me an email</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</header>
